<h2>
    PartialView1.cshtml
</h2>
<div>
    This is Partal View 1
    <br />
    <div class="info">
        This View is rendered using Html.RenderPartial()
        <br />
        <span class="highlight">This view does not have Action method</span>
    </div>
</div>
