<h2>
    PartailView3.cshtml
</h2>
<div>
    This is Partail View 3
        <div class="info" style="margin:10px;">
            This view is rendered using <span class="code">Html.Action()</span> helper method.
        </div>
</div>
