<h2>
    PartialVIew2.cshtml
</h2>
<div>
    This is Partail View 2
    <div class="info">
        This view is rendered using Html.Partial()
        <br />
        <br />
        <span class="highlight">
            NOTE: This view have an action method, still you can use <span class="code">Html.Partial</span> OR <span class="code">html.Renderpartial() </span> to render a view.
            When this helper is used, action does not gets called and only view is read and returned.
            <br />
            If we would have used <span class="code">Html.Action()</span> or <span class="code">Html.RenderAction()</span>, then Action method would have been called.
</span>
    </div>
</div>
